<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
</head>
<body>
    <h1>欢迎来到cart页面</h1>
    <a th:if="${session.loginUser ==null}" href="http://login.codeshop.com:9000/view/login?target=http://cart.codeshop.com:9012/view/index">登录</a>
    <a th:unless="${session.loginUser ==null}" href="http://login.codeshop.com:9000/login/logout">退出</a>
    </span>

    <p th:unless="${session.loginUser == null}">
        <span style="color: red;" th:text="${session.loginUser.username}"></span>已登录
    </p>
</body>
</html>